div .undefined {display: none;}

.dataMesas {display: flex ; flex-wrap: wrap-reverse ; margin-top: 20px; flex-direction: row-reverse;}

.button-container {display: flex;}

.button-container > * {flex: 1;}

.hidden {display: none;}

.dataMesa > hr {border-top: 1px solid rgba(177, 177, 177, 0.507);}

.mesaData {
    
    border: 2px solid white !important;
}

button  {border: 2px solid white !important}
 